@font-face{
	font-family: 'Calistoga';
	src: url(../fonts/Calistoga-Regular.ttf);
}

@font-face{
	font-family: 'Roboto';
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face{
	font-family: 'GreatVibes';
	src: url(../fonts/GreatVibes-Regular.otf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
	letter-spacing: 1px;
}

body{
	margin: 0;
	padding: 0;
	background: #efefef;
}

a{
	text-decoration: none;
}

h1{
	font-family: 'Calistoga';
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 20px;
	letter-spacing: 4px;
}

h2{
	font-family: 'Calistoga';
	font-size: 2.5em;
	font-weight: normal;
	margin-bottom: 20px;
}

h2:first-child{
	letter-spacing: 5px;
}

h3{
	font-family: 'Calistoga';
	font-size: 1.4em;
	font-weight: normal;
	letter-spacing: 2px;
	color: white;
	padding: 10px;
	border-bottom: 1px solid white;
}

h4{
	font-family: 'Roboto';
	font-size: 0.9em;
	letter-spacing: 2px;
	color: white;
	font-weight: normal;
	display: block;
	padding: 20px 0;
	text-transform: uppercase;
}

.big-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	padding: 50px 20px;
}

/*header*/

button.mail{
	font-family: 'Roboto';
	border: none;
	font-size: 0.6em;
	background: rgba(230,200,238,0.2);
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 13px 20px;
	margin: 30px 0;
	border-radius: 40px;
	font-weight: bold;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10px rgba(40,40,75,0.2);
	transition: 0.5s;
}

button.mail:hover{
	cursor: pointer;
	box-shadow: 0 0 10px rgba(40,40,75,0.5);
}

button.mail:active{
	box-shadow: inset 0px 0 5px rgba(40,40,75,0.6);
}

.social-network{
	position: absolute;
	top: 8px;
	font-size: 1.1em;
	color: #5864B4;
	margin: 10px 10px 0 10px;
	transition: 0.3s ease-in-out;
}

.social-network:hover{
	transform: translateY(-8px);
}

.insta{right: 20px;}
.twitter{right: 60px;}
.github{right: 100px;}

.container:nth-child(2){

	background: linear-gradient(-35deg, #1044BE, #37C0E2 );

}

div.left-section{
	width: 27%;
	padding: 0 30px;
	border-right: 4px solid #D9F2FA20;
	font-size: 1.5em;
	color: white;
}

.identite{
	font-size: 1.3em;
	letter-spacing: 1.5px;
	color: white;
}

div.right-section{
	width: 60%;
	padding: 0 30px;
	line-height: 25px;
	color: white;
}

/*section navigation*/
.container:first-child{
	background-color: #EFEFEF;
	justify-content: space-between;
	align-items: center;
	padding: 5px 80px;
	text-align: center;
	flex-wrap: wrap;
	text-align: center;
}

.home-button-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	background: url(../img/exemple.jpg);
	background-size: 500% 410%;
	background-position: 400% 320%;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1), 
				inset 0 0 5px rgba(0, 0, 0, 0.05),
				inset 5px 5px 5px rgba(0, 0, 0, 0.1), 
				inset -5px -5px 5px rgba(0, 0, 0, 0.05);
	width: 90px;
	height: 90px;
	border-radius: 15px;
}

.buttons-nav{
	text-align: center;
	margin: 20px 20px;
}

.home_link{
	font-family: 'Roboto';
	font-size: 1.8em;
	font-weight: normal;
	color: #383F56;
	transition: 0.3s;
	height: 70px;
	width: 70px;
	border-radius: 10px;
	text-transform: uppercase;
	background: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	transition: 0.3s;
}

 .home_link:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.3);
	background: #f6f6f6CF;
}

.home-button-container:hover .home_link{
	transform: translateY(-10px);
}

.favicon-arrow-home{
	font-size: 0.8em;
}

.section_link{
	display: inline-block;
	margin: 10px;
	margin-right: 20px;
	padding: 10px 20px;
	color: #383F56;
	border-radius: 40px;
	background:#efefef;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	transition: 0.3s;
}

.section_link:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #B2D7F5;
}

.section_link:active{
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.2), inset 0 0 5px rgba(0,0,0,0.3);
}

.favicon-arrow-section{
	margin-left: 7px;
	font-size: 0.9em;
}

/*header responsive*/
@media (max-width: 1020px){
	h1{
		font-family: 'Roboto';
		position: absolute;
		top: 23px;
		left: 20px;
		font-size: 1.1em;
	}

	.container:first-child{
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.social-network{
		font-size: 1.1em;
	}

	div.left-section{
		width: 100%;
		border-right: none;
		font-size: 1.5em;
		padding: 0;
		color: #fff;
	}

	div.right-section{
		width: 100%;
		padding: 0;
	}
}

@media(max-width: 670px){
	.container:first-child{
		justify-content: center;
		padding-left: 10px;
		padding-right: 10px;
	}

	.buttons-nav{
		margin: 0 5px;
	}

	.section_link{
		margin: 15px 8px;
	}
}

@media(max-width: 474px){
	.container:first-child{
		padding-bottom: 20px;
	}
}