@import 'style-pages.css';

/*section page "code"*/

.container-bs:first-child{
	background: linear-gradient(-35deg, #221F83, #8449C2 );
}

.container-bs:nth-child(2){
	background: linear-gradient(-35deg, #6927B0, #B167EE);
}

.container-bs:nth-child(3){
	margin-top: 40px;
	padding: 0;
}

.container-grid{
	display: grid;
	grid-template-columns: repeat(1fr);
	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto);
	margin: 40px 0;
}

.box{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 330px;
	height: 200px;
	
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), 
				inset 0 0 5px rgba(0, 0, 0, 0.05),
				inset 5px 5px 5px rgba(0, 0, 0, 0.05), 
				inset -5px -5px 5px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	background: #efefef;
}

.box:hover{
	cursor: pointer;
}

svg{
	color: #3182DD;
	background: white;
	padding: 1px;
	border-radius: 3px;
	width: 1.4em;
    position: absolute;
    top: 45%;
    right: 30px;
    z-index: 1;
    transition: .3s ease-in-out;
}

.btn{ /*bouton fermeture modale*/
	background: #375CD1;
	color: white;
	padding: 8px 15px !important;
	transition: 0.2s;
}

.btn:hover{ /*bouton fermeture modale*/
	background: #1036AA;
	color: white;
}

.github{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #181E32;
	color: white;
	border-radius: 5px;
	margin: 0 10px;
	padding: 5.5px 15px;
	transition: 0.2s;
}

.github:hover{
	background: #090C15;
}

.github i{
	font-size: 2em;
	margin-right: 10px;
}

.box:hover svg{
	transform: scale(1.5);
}

.inner-box{
	width: 320px;
	height: 190px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
}

/*page code*/
.box:nth-child(n+1) .code-p1{	background: url(../img/visuels/code/cv.png);}
.box:nth-child(n+2) .code-p2{	background: url(../img/visuels/code/espacesecurise.jpg);}
.box:nth-child(n+3) .code-p3{	background: url(../img/visuels/code/escargot.jpg);}
.box:nth-child(n+4) .code-p4{	background: url(../img/visuels/code/komenkonfe.png);}
.box:nth-child(n+5) .code-p5{	background: url(../img/visuels/code/escales.jpg);}
.box:nth-child(n+6) .code-p6{	background: url(../img/visuels/code/dom.jpg);}
.box:nth-child(n+7) .code-p7{	background: url(../img/visuels/code/fruits.jpg);}
.box:nth-child(n+8) .code-p8{	background: url(../img/visuels/code/piccolino.jpg);}
.box:nth-child(n+9) .code-p9{ background: url(../img/visuels/code/quote.jpg);}
.box:nth-child(n+10) .code-p10{ background: url(../img/visuels/code/leaflet.jpg);}
.box:nth-child(n+11) .code-p11{ background: url(../img/visuels/code/pokemon.jpg);}
.box:nth-child(n+12) .code-p12{ background: url(../img/visuels/code/montlhery.png);}
.box:nth-child(n+12) .code-p13{ background: url(../img/visuels/code/phpexo.jpg);}
.box:nth-child(n+13) .code-p14{ background: url(../img/visuels/code/table.jpg);}
.box:nth-child(n+14) .code-p15{ background: url(../img/visuels/code/cartes.png);}


.box:nth-child(n) .inner-box{

	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.3s;
}

.inner-box:hover .content{
	opacity: 1;
}

.box-content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 85%;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), 
				inset 0 0 5px rgba(0, 0, 0, 0.3),
				inset 5px 5px 5px rgba(0, 0, 0, 0.2), 
				inset -5px -5px 5px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	background: transparent;
}

.box-inner-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 80%;
	box-shadow: 0 5px 20px rgba(0,0,0,0.4);
	border-radius: 15px;
	background: #f6f6f6FA;
	padding: 20px;
	text-align: center;
	background: linear-gradient(-35deg, #271F55EF, #151033EF);
}

@media(min-width: 700px){
	.container-grid{
		grid-template-columns: repeat(2, 1fr);
	}

	.container-bs:first-child{
		background: linear-gradient(-35deg, #6927B0, #B167EE);
	}

	.container-bs:nth-child(2){
		background: linear-gradient(-35deg, #221F83, #8449C2 );
	}

}

@media(min-width: 1070px){
	.box{
		width: 400px;
		height: 240px;		
	}

	.inner-box{
		width: 390px;
		height: 230px;	
	}
}

@media(min-width: 1260px){
	.container-grid{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media(min-width: 1920px){
	.container-grid{
		grid-template-columns: repeat(4, 1fr);
	}	
}

@media(max-width: 1070px){
	.box-content{
		height: 88%;
	}

	.box-inner-content{
		height: 90%;
	}
}

@media(max-width: 350px){
	.box{
		width: 270px;
		height: 170px;		
	}

	.inner-box{
		width: 260px;
		height: 160px;	
	}

	h3{
		font-size: 1em;
	}

	h4{
		font-size: 0.7em;
	}
}

/*Buttons tries*/

div#buttons{
	width: 820px;
	padding: 20px 80px;
	margin: 20px 30px;
	margin-top: 20px;
	text-align: center;
	background: url(../img/exemple.jpg);
	background-size: 100%;
	background-position: 50% 30%;
	border-radius: 15px;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1), 
				inset 0 0 5px rgba(0, 0, 0, 0.05),
				inset 5px 5px 5px rgba(0, 0, 0, 0.1), 
				inset -5px -5px 5px rgba(0, 0, 0, 0.05);
}

.tri{
	display: inline-block;
	margin: 5px;
	background:#fafafa;
	color: #383F56;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	padding: 10px 20px;
	border-radius: 5px;
	width: 120px;
	cursor: pointer;
	text-align: center;
	transition: 0.7s;
}

.tri:hover{
	transform: translateY(-5px);
	cursor: pointer;
	background:#fafafaDA;
	dropback-filter: blur(5px);
	transition: 0.3s;
}

.tri.active{
	background: #3361DC;
	color: white;
}

@media(min-width: 1500px){
	div#buttons{
		width: 1120px;
	}
}

@media(max-width: 490px){
	div#buttons{
		width: 280px;
		padding: 20px 0;
		background-size: cover;
		background-position: 50% 30%;
	}

	.tri{
		padding: 10px 0;
		width: 80%;
	}
}

/*modal*/

.modal-header{
	background-image: url(../img/exemple.jpg);
	background-size: 100%;
	background-position: 0% 100%;
	height: 80px;
	border: none;
	justify-content: flex-end;
	align-items: center;
}

.modal-body{
	padding: 0;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal .image{
	width: 100%;
	min-height: 300px;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), 
				inset 0 0 5px rgba(0, 0, 0, 0.1),
				inset 5px 5px 5px rgba(0, 0, 0, 0.05), 
				inset -5px -5px 5px rgba(0, 0, 0, 0.15);
}

.box:nth-child(n+1) .modal .image{background: url(../img/visuels/code/cv.png);}
.box:nth-child(n+2) .modal .image{background: url(../img/visuels/code/espacesecurise.jpg);}
.box:nth-child(n+3) .modal .image{	background: url(../img/visuels/code/escargot.jpg);}
.box:nth-child(n+4) .modal .image{	background: url(../img/visuels/code/komenkonfe.png);}
.box:nth-child(n+5) .modal .image{	background: url(../img/visuels/code/escales.jpg);}
.box:nth-child(n+6) .modal .image{	background: url(../img/visuels/code/dom.jpg);}
.box:nth-child(n+7) .modal .image{	background: url(../img/visuels/code/fruits.jpg);}
.box:nth-child(n+8) .modal .image{	background: url(../img/visuels/code/piccolino.jpg);}
.box:nth-child(n+9) .modal .image{ background: url(../img/visuels/code/quote.jpg);}
.box:nth-child(n+10) .modal .image{ background: url(../img/visuels/code/leaflet.jpg);}
.box:nth-child(n+11) .modal .image{ background: url(../img/visuels/code/pokemon.jpg);}
.box:nth-child(n+12) .modal .image{ background: url(../img/visuels/code/montlhery.png);}
.box:nth-child(n+13) .modal .image{ background: url(../img/visuels/code/phpexo.jpg);}
.box:nth-child(n+14) .modal .image{ background: url(../img/visuels/code/table.jpg);}
.box:nth-child(n+15) .modal .image{ background: url(../img/visuels/code/cartes.png);}


.box:nth-child(n) .modal .image{
	background-repeat: no-repeat;
	background-position: 50%;
    background-size: contain;
}

.modal .contenu{
	padding: 20px;
}

.modal-footer{
	margin-top: 20px;
	background-color: #EBEBEB;
}

.modal h3{
	font-family: 'Calistoga';
	font-size: 1.4em;
	color: #f17d7d;
	letter-spacing: 1.5px;
	border-bottom: 0;
	border-radius: 15px;
	text-align: center;
	padding: 8px 15px;
}

.modal h4{
	font-family: 'Calistoga';
	font-size: 2em;
	color: #383F56;
	text-transform: none;
	text-align: center;
}

div.boutonLangage{ /*section des boutons qui déclarent les langages utilisés dans le projet*/
	text-align: left;
	margin-bottom: 20px;
	margin-top: -10px;
	color: #fff;
}

div.boutonLangage p.modalButton{ /*style général des boutons déclaratifs des langages*/
	display: inline-block;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
	margin-left: none;
	font-weight: bold;
	border-radius: 5px;
	font-size: 0.9em;
}
/*toutes les couleurs des boutons des langages présents dans les fenêtres modales*/
div.boutonLangage p.modalButtonHtml{background-color: #463C4A;}
div.boutonLangage p.modalButtonCss{background-color: #C42D76;}
div.boutonLangage p.modalButtonJs{background-color: #D5760C;}
div.boutonLangage p.modalButtonPhp{background-color: #0B1150;}
div.boutonLangage p.modalButtonBootstrap{background-color: #9E30C1;}
div.boutonLangage p.modalButtonSql{background-color: #3C58CB;}


@media(min-width: 992px){
	.modal .image{
		min-height: 480px;
	}
}

@media(max-width: 580px){
	.modal .image{
		min-height: 250px;
	}

	.box:nth-child(n) .modal .image{
	    background-size: cover;
	}
}

@media(max-width: 400px){
	.modal .image{
		min-height: 220px;
	}
}